header.main {
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #100694; /* navbar şeffaflığı buradan değişiyor, sonra 75 eklersen eskisi gibi olur */
    /*background-color: rgba(18, 41, 93, 0.9);*/
    z-index: 9;
    position: fixed;
    width: 100%;
    height: 85px;
    font-weight: bold;
    font-size: 1.1em;
    box-shadow: 0px 0px 3px 1px #183661;
  
  }
  
  header .containeer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*background-color: #10069475;*/
  }
  
  #hero a.logo {
    display: flex;
    align-items: center;
  }
  
  header a.logo img {
    height: 68px;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    background-color: #111111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav-open {
    width: 250px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    /* text-transform: uppercase; */
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover, .sidenav a.active {
    color: #ffffff;
  }
  
  .nav-toggle {
    font-size: 30px;
    cursor: pointer;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 3rem;
    margin-left: 50px;
  }
  
  @media screen and (min-width: 960px) {
    .sidenav {
      width: auto;
      position: static;
      height: 46px;
      overflow: hidden;
      background-color: transparent;
      transition: 0.5s;
      padding-top: 0;
    }
  
    .sidenav a {
      display: inline-block;
      color: #ccc;
      transition: 0.3s color;
    }
  
    .sidenav a:hover, .sidenav a.active {
      color: #fff;
    }
  
    .sidenav .closebtn {
      display: none;
    }
  
    .nav-toggle {
      display: none;
    }
  }
  
  @media screen and (min-width: 1350px) {
    header.main .container {
        width: 80%;
        margin: 0 auto;
    }
  }
  

.double{
    width: 30%;
}
.linkPayment{
    color: rgb(241, 28, 28);
    
    border: 2px solid #fff;
    padding: 3%;
}
.open{
    max-height: 150px !important;
}
.formError{
    border-color: #ff0000 !important;
    border: 2.5 px solid;
}
.card{
    border-radius: 1rem;
    
}
.bg-success{
    background-color: #2dd654b4!important;
}
.bg-primary{
    background-color: #007bffb4!important;
}
.bg-info{
    background-color: #17a2b8b4!important;
}
.input-form{
    padding-top:20px;

  }
  .mailFont{
          font-size:0.8em;
      }
  html, body{
      margin: 0;
      padding: 0;
  }
  section{
      background-image: linear-gradient(90deg, rgb(0, 0, 50) 70%, #000000 100%);
      color: white;
      padding: 10px;
  }
  body{
      font-family: 'PT Mono', monospace;
  }
  .clearfix::after {
      content: "";
      clear: both;
      display: table;
  }
  /* nav{
      display: none;
  } */

  .btn{
      background-color: #100694;
      /*background-color: rgba(0, 0, 0, 0.5);
      border: 2px solid white;
      display: inline;
      padding: 12px 24px;
      */
      white-space: normal;
  }
  .btn a{
      text-decoration: none;
      color: white;
      letter-spacing: 2px;
  }
  #c{
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
  }
  section h2{
      letter-spacing: 2px;
  }
  section p{
      line-height: 1.2em;
  }
  .header{
      width: 100%;
      height: 100vh;
      height: calc(var(--vh, 1vh) * 100);
      min-height: 450px;
      color: white;
  }
  .header-content{
      position: relative;
      text-align: center;
  }
  .header-container{
      padding-top: 15vh;
  }
  .header-logo{
      width: 60%;
      margin-top: 30px;
  }
  .header-logo img{
      width: 100%;
  }
  .header-detail-text{
      padding: 10px 10px;
      /* font-size: 18px; */
      letter-spacing: 1px;
      line-height: 1em;
      margin-bottom: 20px;
  }
  .header-image{
      display: none;
  }
  .hero-title{
      display: block;
  }
  .why-container{

  }
  .why-container h3{
      text-decoration: underline;
  }
  .why-container p{
    font-size: 1.2em ;
}
  .why-list{
      list-style: none;
      padding-left: 10px;
      line-height: 1.2em;
  }
  .why-list li{
      padding: 4px 0;
      font-size: 1.2em;
  }
  .why-list li:before{
      font-size: 1.4em;
      content: '✓';
      padding: 0 2px;
  }
  .program-container{
      box-sizing: border-box;
      padding: 4px;
      border-radius: 15px;
      border: 4px solid #E2FFFA;
      margin: 16px 0;
  }
  .program-container .program-day{
      text-align: center;
  }
  .program-item{
      display: flex;
      align-items: center;
      margin: 0;
      border-top: 0.5px solid #fff;
      padding:3%;
  }
  .program-item .time{
      width: 8%;
      font-size: 0.8em;
      text-align: center;
      font-weight: bold;
      
     
  }
  .program-item .time hr{
      display: inline-block;
      width: 40%;
      border-color: white;
  }
  .program-item .image{
      width: 14%;
      text-align: center;
  }
  .program-item .image img{
     /* padding:10%;*/
      width: 100%;
      border-radius: 100%;
      box-sizing: border-box;
      border: 2px solid white;
  }
  .program-item .image.triple img{
      width: 80%;
  }
  .program-item .text{
      width: 70%;
      box-sizing: border-box;
      padding: 4px 4px 4px 8px;
  }
  .program-item h3, .program-item h4{
      margin: 4px 0;
  }
  .program-item .item-title{
      font-size: 1.1em;
      font-weight: 700;
  }
  .program-item .speaker-name{
      font-size: 0.9em;
      font-weight: 300;
  }
  .program-item .speaker-title{
      font-size: 0.8em;
      font-weight: 300;
  }
  .partners-container{
      color: black;
      background: white;
      text-align: center;
      padding: 40px;
      box-sizing: border-box;
      outline: 20px double black;
      margin: 50px 20px;
  }
  .partners-container .sponsor img{
      width: 100%;
  }
  .partners-container .sponsor.main{
      width: 50%;
      margin: 20px auto;
  }
  .partners-container .sponsor.gold{
      width: 75%;
      margin: 20px auto;
  }
  .partners-container .cooperators{
      display: flex;
      align-items: center;
      justify-content: space-around;
  }
  .partners-container .cooperators .sponsor{
      width: 80%;
  }
  .partners-container .cooperators2{
      display: flex;
      align-items: center;
      justify-content: space-around;
  }
  .partners-container .cooperators2 .sponsor{
      width: 38%;
  }
  .register-container h3{
      text-align: center;
      line-height: 1.5em;
      letter-spacing: 1px;
      font-size: 1.4em;
  }
  .register-container .youtube-btn{
      margin: 30px auto;
      padding: 20px;
      width: 200px;
      background-color: red;
      cursor: pointer;
      border-radius: 12px;
      text-align: center;
  }
  .register-container .instagram-btn{
      font-size:20px;
      margin: 20px auto;
      padding: 20px;
      width: 200px;
      background-color: white;
      cursor: pointer;
      border-radius: 12px;
      text-align: center;
      display:inline-block;
      color: black;
  }
  .register-container a{
      text-decoration: none;
      color: rgb(255,255,255);
      font-weight: 700;
      font-size: 1.6em;
  }
  .instagram{
      margin: auto;
      text-align: center;
  }
  .team-member{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 15px 4px;
      box-sizing: border-box;
      padding: 10px;
      border-radius: 15px;
      border: 4px solid #E2FFFA;
  }
  .team-member .image{
      width: 30%;
  }
  .team-member .image img{
      width: 80%;
      margin: 4px 10%;
      border-radius: 12px;
  }
  .team-member .text{
      width: 70%;
      box-sizing: border-box;
      padding-left: 10px;
  }
  .team-member .text a{
      text-decoration: none;
      color: white;
  }
  .map-container{
      display: block;
      height: 400px;
      width: 100%;
  }
  .footer-container{
      text-align: center;
  }
  .footer-container img{
      width: 60%;
      margin: 20px auto;
  }
  @media screen and (min-width: 767px){
      .container{
          width: 767px;
          margin: 0 auto;
      }
      .header-image{
          display: block;
      }
      .header-image img{
          width: 100%;
      }
      .header-container{
          display: flex;
          justify-content: space-around;
          align-items: center;
          padding-top: 200px;
      }
      .header-container .header-text{
          width: 60%;
          margin: 20px 0;
          padding: 0 20px;
      }
      .header-container .header-image{
          width: 40%;
      }
  }
  @media screen and (min-width: 600px){
      .programs-container{
          width: 600px;
          margin: 0 auto;
      }
  }
  @media screen and (min-width: 767px){
      .container{
          width: 767px;
          margin: 0 auto;
      }
      .container-wide{
          width: 100%;
      }
      .partners-container .sponsor.main{
          width: 40%;
          margin: 20px auto;
      }
      .partners-container .sponsor.gold{
          width: 30%;
          margin: 20px auto;
          padding: 4% 0%;
          border-boo:0.1px solid #ddd;
      }
      .partners-container h3{
          font-size: 1.6em;
          font-weight: 700;
          margin: 40px 0 20px 0;
      }
      .hero-title{
          display: block;
      }
      .header-logo{
          display: none;
      }
      .footer-container img{
          width: 50%;
          margin: 25px auto 10px auto;
      }
      nav{
          width: 100%;
          background: #10069475;
          color: white;
          position: fixed;
          display: block;
          z-index: 11;
      }
      .menu-container{
          height: 80px;
          margin-left: 20%;
          width: 75%;
          display: flex;
          justify-content: space-around;
          align-items: center;
          align-content: center;
      }
      .menu-container div{
          width: 16%;
          box-sizing: border-box;
          text-align: center;
      }
      .menu-container div a{
          display: block;
          padding: 8px 16px;
      }
      
      nav a{
          text-decoration: none;
          color: white;
          font-size: 1.1em;
          font-weight: 700;
      }
      nav .logo-container{
          height: 68px;
          margin-left: 2%;
          position: absolute;
          top: 6px;
          left: 16px;
      }
      nav .logo-container img{
          height: 64px;
      }
      .register-container .br-mobile{
          display: none;
      }
  }
  @media screen and (min-width: 960px){
      .container-wide{
          width: 960px;
          margin: 0 auto;
      }
      .programs-container{
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: start;
      }
      .program-container{
          width: 100%;
          margin: 20px;
      }
      .team-member{
          float: left;
          width: 48%;
          margin: 15px 1%;
      }
      .footer-container img{
          width: 40%;
          margin: 30px auto 10px auto;
      }
      .program-item .item-title{
          font-size: 1.1em;
          font-weight: 700;
          line-height: 1em;
      }
      .program-item .speaker-name{
          font-size: 0.9em;
          font-weight: 300;
      }
      .program-item .speaker-title{
          font-size: 0.8em;
          font-weight: 300;
      }
  }

  @media screen and (min-width: 1350px){
      .header-container{
          width: 80%;
          margin: 0 auto;
      }
  }
